@import "fonts.css";

* {
	font-family: Lato;
	outline: none;
}

#sidenav {
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	z-index: 1;
	overflow-x: hidden;
}

#sidenav>a {
	display: block;
	font-family: Lato-Bold;

	color: #555;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-left: 10px solid #66aaff;

	width: 150px;

	padding: 10px;
	margin-right: 20px;
	transition: 200ms;
}

#sidenav>a:hover {
	border-left: 30px solid #66aaff;

	width: 140px;
	margin-right: 10px;

	cursor: pointer;
	transition: 200ms;
}

#content {
	border: 1px solid #ddd;
	width: auto;
	margin-left: 210px;
	margin-right: 50px;
}

#content-title,
#content-title:focus {
	font-family: Lora;
	font-size: 45px;
	font-weight: bold;

	border: none;
	border-bottom: 1px solid #555;

	width: 70%;
	padding-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

#content-description,
#content-description:focus {
	font-family: Lato;
	font-size: 15px;

	border: none;

	width: 70%;
	padding-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

#board {
	overflow-x: scroll;
	width: 90%;
}

.content-table-title {
	font-family: Lora;
	font-size: 17px;

	width: 200px;

	padding: 20px;
	margin-top: 50px;
}

.content-table-row {}

.card {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 7px;
}

.card-content {
	font-size: 12px;
	border: none;
	width: 80%;
	word-break: break-all;
}

.card-content-invisible {
	opacity: 0;
}

.card-content-drop-animation {
	animation-name: cardContentDropAnimation;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.card-drop-animation {
	animation-name: cardDropAnimation;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

@keyframes cardDropAnimation {
	0% {opacity: 0}
	100% {opacity: 1}
}

@keyframes cardContentDropAnimation {
	0% {width: 0%}
	100% {width: 80%}
}

.drop-area-hover {
	animation-name: dropAreaHover;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.drop-area-hover-leave {
	animation-name: dropAreaHoverLeave;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}


@keyframes dropAreaHover {
	0% {padding-bottom: 0px}
	100% {padding-bottom: 15px}
}

@keyframes dropAreaHoverLeave {
	0% {padding-bottom: 15px}
	100% {padding-bottom: 0px}
}
